.headerContainer {
    text-align: center;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .headerContainer .leftSide{
    width: auto;
  }
  
  .headerContainer .rightSide {
    width: auto;
    margin-right: 110px;
    margin-top: 0px;
  }
  
  .headerContainer .rightSide h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 500;
    color: white;
  }
  
  .headerContainer .rightSide p {
    font-family: cursive;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: white;
  }
  
  .headerContainer .rightSide button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer .rightSide button:hover {
    background-color: #67b3da;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer .rightSide {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer .rightSide h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer .rightSide p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer .rightSide button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer .rightSide button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }