.footer {
  margin-top: 10vh;
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia img {
    width: 4vw;
    margin: 20px;
    margin-top: 0px;
    font-size: 70px;
    cursor: pointer;
}

.socialMedia .thankYou{
  width: 10vw;
}

.footer p {
  font-family: 'Raleway';
  font-weight: bold;
  color: black;
}