.menu header2{
  margin-top: 3vh;
    font-family: 'Gaegu';
    font-size: 24pt;
    color: rgb(107, 106, 105);
    margin-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gaegu';
}

.menuItems {
  text-decoration: none;  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center;
  justify-content: center; /* Center content horizontally */
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}
.menuItem {
  text-align: center;
  margin-bottom: 20px; /* Adjust the spacing between items */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuTitle{
  margin-top: 4vh;
}
.menuItem button {
  text-decoration: none;
  margin-top: 30px; /* Adjust the spacing between buttons */
  margin-bottom: 25px;
  background-color:transparent;
  border: none;
  font-family: 'Raleway';
  color: rgb(107, 106, 105);
  font-weight: 700;
}

.menuItem img{
  cursor: pointer;
  box-shadow: none;
  border: none; /* Reset any border styles */
  outline: none; /* Reset any outline styles */
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 80px;
  animation-delay: 0.5s; /* Delay the animation for the image */
}

.menuItem button:hover{
  transition: 0.3s ease-out;
  border-radius: 4px;
  opacity: 0.7;
}


